h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
  font-weight: 400;
  line-height: 1.25em;}

h3.subheader {
  margin-bottom: 15px;
}

p {
	font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: 400; }

.hero {  
	text-align: center; 
	color: white;
	text-shadow: 1px 1px 250px rgba(0, 0, 0, 0.9); }

.top {  
	margin: 25% 0 0 0; }

.avatar {  
	margin: -50% auto 0 auto; }

.name {  
	margin: 1em 0 0 0;}

.blurbs {  
	margin: 2.5em 0 -1.5em 0; }

.splash {  
	background-image: url("../img/14stBW.png");
	background-attachment: fixed;
	background-position: center 0;
	padding-bottom: 15%; 
	position: center; }

h1 {
  font-size: 5.125em;
  line-height: 1em; }

h2 {
	font-size: 4.5em;
	font-weight: 200; 
	text-align: center; }

h3 {
	padding: .6em 0 0 0; }

h4 {
	padding: 1em 0 0 0; }

h5 {
	padding: .5em 0 1em 0;
	color: #fff; 
	text-align: center; }

.highlight {
	background-color: #FFF;
}
.top-bar {
	opacity: .95; 
	color: #000; }

.top-bar .name h1 a:before {
    background-image: url('../img/sluicelogo.png');
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 18px;
    padding-right: 20px;
    position: relative;
    width: 14px;
}

.top-bar-section ul li > a {
	font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: 400; 
	font-size: .9em; }
/*
.rule {
	margin: 3em 0 3em 0; }*/

.footer {
	border-top: 1px; 
	margin: 3em 0 0 0; 
	background-color: #222;
	padding-top: 2em; }

.logo {
	padding: 1em 0 2em 0; }

.eclogo {
	padding: 1em 0 1em 0; }
.header-img {
  background: url('http://static01.nyt.com/images/2014/03/10/magazine/mag-16Silicon/mag-16Silicon-master1050.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.content {
  margin-top: 20px;
}

.highlight.user {
  background-color: rgba(255, 231, 32, 0.76);
}

.img-caption {
  text-align: center;
  margin-bottom: 25px;
}

.img-caption p {
  margin: 2px 0 2px 0;
  font-style: italic;
}

.rail .names .name, .rail .names .count {
  font-weight: bold;
}

.rail {
  font-family: 'Titillium Web', sans-serif;
  position: absolute;
  left: 700px;
}
.rail .profiles .faces {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #999999;
  display: inline-block;
  overflow: hidden;
  background-position: center;
}
.rail .person {
  font-weight: bold;
}
.rail .social-share {
  border: 1px solid #ffffff;
  font-size: 0;
  margin: 0px;
}
.rail .social-share li {
  font-family: FontAwesome;
  font-size: 20px;
  border: 1px solid #999999;
  display: inline-block;
  padding: 10px 20px;
  color: #999999;
}
.rail .social-share li.fb:before {
  content: "\f082 ";
}
.rail .social-share li.twitter:before {
  content: "\f081 ";
}
.rail .social-share li.mail:before {
  content: "\f045 ";
}
.rail .social-share li.more:before {
  content: "\f055  More";
}
.rail .stats {
  border-left: 1px solid #000000;
  padding-left: 5px;
}
.rail .stats span:hover {
  border-bottom: 1px dotted #000000;
}
.highlight {
  background-color: #FFFF00;
}
.highlight.high {
  background-color: #FF3300;
}
.rail .names .count-wrap {
  display: none;
}
