.main {
  &:extend(.small-8, .columns);
  font-family: @droid;
}

.rail {
  &:extend(.small-4, .columns); 
  font-family: @titillium;
}

.highlight {
  background-color: #FFFF00;

  &.high {
    background-color: #FF3300;
  }
}